extends layout

block content
    
  div.row.marketing
    div.col-lg-8
      div.row
        div.col-lg-12
          h4= group.name
          a.float-right(class="font-italic" target="_blank" style="font-size: 8px;" href="https://www.animenewsnetwork.com/encyclopedia/anime.php?id=" + series.ann_id) AnimeNewsNetwork link >>
          p(style="font-size: 8px;")='host(s):' + group.admins + '/members:' + group.attending_users_count
          p= "Discussion Time " + discussion_hour + ":00 GMT"
        if typeof user != 'undefined' && group.is_active == false && group.admins.indexOf(user.name) > -1
          div.col-lg-6.col-3
            form(action='/groups/activate/' + group.slug method='POST')
              button.btn.btn-outline-success.my-2.my-sm-0(type="submit") Activate
              p(style="font-size: 6px;")='Activate when you are sure the rewatch is happening'
        else if typeof user != 'undefined' && group.is_active == true && group.admins.indexOf(user.name) > -1
          div.col-lg-6.col-3
            form(action='/groups/remove/' + group.slug method='POST')
              button.btn.btn-outline-success.my-2.my-sm-0(type="submit") Cancel
              p(style="font-size: 6px;")='This cannot be reversed'
        else if typeof user != 'undefined' && group.attending_users.indexOf(user.name) > -1
          div.col-lg-6.col-3
            form(action='/groups/leave/' + group.slug method='POST')
              button.btn.btn-outline-success.my-2.my-sm-0(type="submit") Leave
        else
          div.col-lg-6.col-3
            form(action='/groups/join/' + group.slug method='POST')
              button.btn.btn-success.my-2.my-sm-0(type="submit") Join
        if typeof user != 'undefined' 
          div.col-lg-6.col-9.enable-push
            div.toggle-switch
              input.js-push-toggle-checkbox(id="enable-push-checkbox" type="checkbox" disabled)
              label(for="enable-push-checkbox")
            div.message="Notifications(N/Y)"
      
        if typeof user != 'undefined' && group.admins.indexOf(user.name) > -1
          div.col-lg-12.mt-sm-2
            button.float-right.btn.btn-outline-info.my-2.my-sm-0.col-lg-4(onclick="clipboard()") Clipboard link
            input.form-control.col-lg-8.mb-sm-2(type="text" value="" id="current_url")
    div.col-lg-4
      img(src="/images/cover/" + series.slug + ".jpg" alt="")
    div.col-lg-12
      h5 Schedule
      if group_schedule && group_schedule.length > 0
        table.table
          thead.thead-dark
            tr
              td="Date"
              td="Episode(s)"
          tbody
          - var current_time;
            each row, i in group_schedule
              tr
                each col, ii in row
                  td=col
  footer.footer
    p 
  script(src="/javascripts/webpush.js")
  script.
    document.getElementById("current_url").value = window.location.href;
  
    function clipboard() {
      var copyText = document.getElementById("current_url");
      copyText.select();

      document.execCommand("Copy");
    }