extends layout

block content

  div.container
    div.row
      if group_mvp.length > 0
        div.col-12
          h5.mt-2 Each User's Best Comments
        each group_mvp_val, i in group_mvp
          div.col-12="--"
          div.col-4
            p.font-weight-bold="/u/" + group_mvp_val.reddit_name
            p="Total Karma:" + group_mvp_val.score_total + " Attendancy:" + group_mvp_val.attend_count
            a.text-primary(href="https://www.reddit.com" + group_mvp_val.best_comment_url style="font-size: 16px;")="comment reddit link>>"
          div.col-8!=group_mvp_val.best_comment