extends layout

block content

  div.row.marketing
    - var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "June", "July", "Aug", "Sep", "Oct", "Nov", "Dec"];
    if reddit_posts.length > 0
      div.col-lg-12.mb-sm-2
        h7= "/r/anime Rewatch Posts"
      div.container.mb-sm-3.mb-1
        div.row
          if reddit_posts.length > 0
            each post_val, i in reddit_posts
              div.col-lg-9.col-md-7
                a(href=post_val.url)= post_val.title
                p.font-italic.ml-2.mb-lg-1.mb-0(style="font-size: 7px;")=post_val.reddit_name + ' - ' +  monthNames[post_val.create_time.getUTCMonth()] + ' ' + post_val.create_time.getUTCDate() + ' ' + post_val.create_time.getUTCFullYear()
              div.col-lg-3.col-md-5
                if typeof user != 'undefined' && post_val.reddit_name == user.name
                  if post_val.group_slug
                    a.btn.btn-outline-primary.mr-1.mb-1.mb-lg-0(href='/groups/' + post_val.group_slug)= "All threads/Edit"
                  else
                    p.font-italic.d-inline.mr-1.mb-1.mb-lg-0(style="font-size: 12px;")="Not grouped"
                    a.btn.btn-outline-success(href='/reddit_post/' + post_val.id)= "Assign"
                else
                  if post_val.group_slug
                    a.btn.btn-outline-primary.mr-1.mb-1.mb-lg-0(href='/groups/' + post_val.group_slug)= "All threads"
                    if typeof user != 'undefined' && post_val.group.attending_users.indexOf(user.name) > -1
                      form.d-inline(action='/groups/leave/' + post_val.group_slug method='POST')
                        button.btn.btn-outline-success.mb-1.mb-lg-0(type="submit") Unfollow
                    else
                      form.d-inline(action='/groups/join/' + post_val.group_slug method='POST')
                        button.btn.btn-success.mb-1.mb-lg-0(type="submit") Follow
                  else
                    p.font-italic.d-inline.mr-1.mb-1.mb-lg-0(style="font-size: 12px;")="Not grouped"
            ul.pagination
              - var prev_page = parseInt("post_page")-1;
              - var next_page = parseInt("post_page")+1;
              if post_page > 1
                li.page-item
                  a.page-link(href="/?post_page=" + prev_page aria-label="Previous")
                    span(aria-hidden="true") &laquo;
                    span.sr-only Previous
              else
                li.page-item.disabled
                  a.page-link(href="#" aria-label="Previous")
                    span(aria-hidden="true") &laquo;
                    span.sr-only Previous
              if reddit_posts.length == 10
                li.page-item
                  a.page-link(href="/?post_page=" + next_page aria-label="Next")
                    span(aria-hidden="true") &raquo;
                    span.sr-only Next
              else
                li.page-item.disabled
                  a.page-link(href="#" aria-label="Next")
                    span(aria-hidden="true") &raquo;
                    span.sr-only Next
          else
            p.font-italic="No more posts"
            if post_page > 1
              li.page-item
                a.page-link(href="/?post_page=" + prev_page aria-label="Previous")
                  span(aria-hidden="true") &laquo;
                  span.sr-only Previous
            else
              li.page-item.disabled
                a.page-link(href="#" aria-label="Previous")
                  span(aria-hidden="true") &laquo;
                  span.sr-only Previous
            li.page-item.disabled
              a.page-link(href="#" aria-label="Next")
                span(aria-hidden="true") &raquo;
                span.sr-only Next
    if recent_groups.length > 0
      div.col-lg-12.mb-sm-2
        h7= "Recent Groups"
      div.container
        div.row
          each recent_val, i in recent_groups
            div.col-lg-4.col-md-6.mb-2
              div.card(style="height : 200px")
                div.row
                  if recent_val.series_slugs[0]
                    div.col-lg-5.col-md-5.col-sm-3.col-4.card-img-top(style="height :200px;background: url(/images/cover/" + recent_val.series_slugs[0] + ".jpg) center no-repeat;background-size: cover;")
                  else
                    div.col-lg-5.col-md-5.col-sm-3.col-4.card-img-top(style="height :200px;background: url(/images/logo.png) center no-repeat;background-size: cover;")
                  div.col-lg-7.col-md-7.col-sm-9.col-8
                    div.card-body
                    h7.card-title= recent_val.name
                  
                    if typeof recent_val.start_time != 'undefined'
                      p.mb-1(style="font-size: 8px;").card-text= ' Starting ' + monthNames[recent_val.start_time.getMonth()] + ' ' + recent_val.start_time.getDate() + ' ' + recent_val.start_time.getFullYear() +' @' + recent_val.start_time.getHours() + ':00GMT'
                    p.mb-1(style="font-size: 6px;")='host(s):' + recent_val.admins + '/members:' + recent_val.attending_users_count
                    a.btn.btn-primary(href='/groups/' + recent_val.slug)= 'Schedule'
        //div.container
          nav.navbar.navbar-expand-lg.navbar-light.bg-light.rounded
            span.col-lg-3= ongoing_val.name
            if typeof ongoing_val.start_time != 'undefined'
              span.col-lg-4= ' Starting ' + monthNames[ongoing_val.start_time.getMonth()] + ' ' + ongoing_val.start_time.getDate() + ' ' + ongoing_val.start_time.getFullYear() +' @' + ongoing_val.start_time.getHours() + ':00GMT'
            //span.col-lg-3= ' ' + ongoing_val.attending_users_count + ' members'
            a.col-lg-4(href='/groups/' + ongoing_val.slug)= 'See Schedule >>'
          p(style="padding-left: 10px;margin-bottom: 10px;font-size: 6px;")='host(s):' + ongoing_val.admins + '/members:' + ongoing_val.attending_users_count
      //if ongoing_groups.length == 6
        div.col-lg-12
          a.float-right(href="/groups/ongoing") More >> 