extends layout

block content
    
  div.row.marketing
    div.col-lg-12
      if typeof user != 'undefined' 
        div.row
          div.col-lg-6
            h5 Schedule
          div.col-lg-6.enable-push
            div.toggle-switch
              input.js-push-toggle-checkbox(id="enable-push-checkbox" type="checkbox" disabled)
              label(for="enable-push-checkbox")
            div.message="Notifications(N/Y)"
      else
        h5 Schedule
      p.text-success= "This color means you are the host."
      a.active(href="/groups/new") Start a new Group >>
      if schedule && schedule.length > 0
        table.table
          thead.thead-dark
            tr
              td="Date"
              td="Episode(s)"
              td=""
          tbody
          - var current_time;
            each row, i in schedule
              tr
                td=row[0]
                if typeof user.admin_groups != 'undefined' && user.admin_groups.indexOf(row[2]) > -1
                  td.text-success=row[1]
                else
                  td=row[1]
                td
                  a(href="/groups/" + row[2]) Group Details >>
  footer.footer
    p 
  script(src="/javascripts/webpush.js")